Node-RED/lib/flows/flows.json
[{"id":"11d79ac7.6abe25","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"69f03120.85869","type":"http in","z":"11d79ac7.6abe25","name":"post data","url":"/posts","method":"post","upload":true,"swaggerDoc":"","x":60,"y":320,"wires":[["a29debfa.776448","a08a1104.856fb"]]},{"id":"a29debfa.776448","type":"http response","z":"11d79ac7.6abe25","name":"response","statusCode":"200","headers":{},"x":280,"y":420,"wires":[]},{"id":"a08a1104.856fb","type":"json","z":"11d79ac7.6abe25","name":"","property":"payload","action":"obj","pretty":false,"x":290,"y":320,"wires":[["8008c1c5.d3766","18f4beb4.b336d1"]]},{"id":"62e8b2ef.cfe5bc","type":"function","z":"11d79ac7.6abe25","name":"CC2640 data","func":"var time = msg.payload[\"timestamp\"];\nvar advDevice = msg.payload[\"devname\"];\nvar advDeviceRSSI = msg.payload[\"RSSI\"];\nvar scanDevice = msg.payload[\"launchpadId\"];\n\nif (advDevice.length == 16 && scanDevice.length == 8){\nmsg.payload = [\n    {\n        query: 'begin',\n    },\n    {\n        query: 'insert into cc2640data (time ,scanDevice, advDevice, advDeviceRSSI) values ($time, $scanDevice, $advDevice, $advDeviceRSSI)',\n        params: {\n         time: time,\n         scanDevice: scanDevice,\n         advDevice: advDevice,\n         advDeviceRSSI: advDeviceRSSI\n        }\n    },\n    {\n        query: 'commit',\n    }\n];\nreturn msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":240,"wires":[["8d7bca86.9ceb68"]]},{"id":"8008c1c5.d3766","type":"switch","z":"11d79ac7.6abe25","name":"","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"launchpadId","vt":"str"},{"t":"hask","v":"advDevice","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":470,"y":320,"wires":[["62e8b2ef.cfe5bc"],["b91afce9.b8146"],["d43bf4ed.9274a8"]]},{"id":"b91afce9.b8146","type":"function","z":"11d79ac7.6abe25","name":"Smartphones RSSI data","func":"var time = msg.payload[\"timestamp\"];\nvar advDevice = msg.payload[\"advDevice\"];\nvar advDeviceRSSI = msg.payload[\"advDeviceRSSI\"];\nvar scanDevice = msg.payload[\"scanDevice\"];\n\nif (advDevice.length == 16 && scanDevice.length == 16){\nmsg.payload = [\n    {\n        query: 'begin',\n    },\n    {\n        query: 'insert into phonesdata (time ,scanDevice, advDevice, advDeviceRSSI) values ($time, $scanDevice, $advDevice, $advDeviceRSSI)',\n        params: {\n         time: time,\n         scanDevice: scanDevice,\n         advDevice: advDevice,\n         advDeviceRSSI: advDeviceRSSI\n        }\n    },\n    {\n        query: 'commit',\n    }\n];\nreturn msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":400,"wires":[["8d7bca86.9ceb68"]]},{"id":"8d7bca86.9ceb68","type":"postgres","z":"11d79ac7.6abe25","postgresdb":"a9ad0242.759c2","name":"miDB","output":false,"outputs":0,"x":1050,"y":340,"wires":[]},{"id":"18f4beb4.b336d1","type":"debug","z":"11d79ac7.6abe25","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":440,"y":140,"wires":[]},{"id":"d7974d64.fff4f","type":"file","z":"11d79ac7.6abe25","name":"","filename":"/home/aaron/Trabajo/interaction-tracker-updated/PositionTracker/src/Data_Collection/Offline/2moviles/proximity/mobile_audio.json","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"utf8","x":1340,"y":540,"wires":[["666a63a4.c0bccc"]]},{"id":"d43bf4ed.9274a8","type":"function","z":"11d79ac7.6abe25","name":"Smartphones audio data","func":"var time = msg.payload[\"timestamp\"];\nvar audioData = msg.payload[\"audioData\"];\nvar recorderDevice = msg.payload[\"recorderDevice\"];\n\n\nmsg.payload = [\n    {\n        query: 'begin',\n    },\n    {\n        query: 'insert into audiodata (time ,recorderDevice, audioData) values ($time, $recorderDevice, $audioData)',\n        params: {\n         time: time,\n         recorderDevice: recorderDevice,\n         audioData: audioData\n        }\n    },\n    {\n        query: 'commit',\n    }\n];\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":540,"wires":[["8d7bca86.9ceb68"]]},{"id":"666a63a4.c0bccc","type":"function","z":"11d79ac7.6abe25","name":"comma","func":"msg.payload = ',';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":660,"wires":[["553ab4db.185f2c"]]},{"id":"553ab4db.185f2c","type":"file","z":"11d79ac7.6abe25","name":"","filename":"/home/aaron/Trabajo/interaction-tracker-updated/PositionTracker/src/Data_Collection/Offline/2moviles/proximity/mobile_audio.json","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"utf8","x":1320,"y":660,"wires":[[]]},{"id":"a9ad0242.759c2","type":"postgresdb","hostname":"127.0.0.1","port":"5432","db":"tracker","ssl":false}]