Docker_Images/.flows.json.backup
[{"id":"11d79ac7.6abe25","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cf83739.a329f9","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"c97f4cc5.79bda","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"6f3675f1.99c8ac","type":"postgresdb","z":"","hostname":"172.17.0.3","port":"5432","db":"track","ssl":false},{"id":"b7e3158d.9295e8","type":"postgresdb","z":"","hostname":"localhost","port":"5432","db":"foo","ssl":false},{"id":"a9ad0242.759c2","type":"postgresdb","z":"","hostname":"127.0.0.1","port":"5432","db":"track","ssl":false},{"id":"69f03120.85869","type":"http in","z":"11d79ac7.6abe25","name":"post data","url":"/query","method":"post","upload":true,"swaggerDoc":"","x":60,"y":320,"wires":[["a29debfa.776448","a08a1104.856fb"]]},{"id":"a29debfa.776448","type":"http response","z":"11d79ac7.6abe25","name":"response","statusCode":"200","headers":{},"x":280,"y":420,"wires":[]},{"id":"a08a1104.856fb","type":"json","z":"11d79ac7.6abe25","name":"","property":"payload","action":"obj","pretty":false,"x":290,"y":320,"wires":[["8008c1c5.d3766"]]},{"id":"62e8b2ef.cfe5bc","type":"function","z":"11d79ac7.6abe25","name":"CC2640 data","func":"var devname = msg.payload[\"devname\"];\nvar RSSI = msg.payload[\"RSSI\"];\nvar timestamp = msg.payload[\"timestamp\"];\nvar launchpadId = msg.payload[\"launchpadId\"];\n\nif (devname.length == 16 &&\n    launchpadId.length == 4){\nmsg.payload = [\n    {\n        query: 'begin',\n    },\n    {\n        query: 'insert into rssianchordata (launchpadId, devname, rssi, ustime) values ( $launchpadId, $devname, $RSSI, null)',\n        params: {\n         launchpadId: launchpadId,\n         devname: devname, \n         RSSI: RSSI\n        }\n    },\n    {\n        query: 'commit',\n    }\n];\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":730,"y":240,"wires":[["8d7bca86.9ceb68"]]},{"id":"8008c1c5.d3766","type":"switch","z":"11d79ac7.6abe25","name":"","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"RSSI","vt":"str"},{"t":"hask","v":"srcDevice","vt":"str"},{"t":"hask","v":"x_ori","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":470,"y":320,"wires":[["62e8b2ef.cfe5bc"],["b91afce9.b8146"],[]]},{"id":"b91afce9.b8146","type":"function","z":"11d79ac7.6abe25","name":"Smartphone acceleration data","func":"var srcDevice = msg.payload[\"srcDevice\"];\nvar dstDevice = msg.payload[\"dstDevice\"];\nvar rssi = String(Number(msg.payload[\"dstDeviceRSSI\"]));\n\n\nmsg.payload = [\n    {\n        query: 'begin',\n    },\n    {\n        query: 'INSERT INTO rssiphonedata (srcdevice, dstdevice, rssi) VALUES ($srcDevice, $dstDevice, $rssi) ON CONFLICT (srcdevice, dstdevice) DO UPDATE SET rssi = $rssi',\n        params: {\n         srcDevice: srcDevice, \n         dstDevice: dstDevice,\n         rssi: rssi\n        },\n        output:true\n    },\n    {\n        query: 'commit',\n    }\n];\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":400,"wires":[["8d7bca86.9ceb68","f287f0da.7b4bc"]]},{"id":"97cfd0c0.e0296","type":"http in","z":"cf83739.a329f9","name":"post data","url":"/query","method":"post","upload":true,"swaggerDoc":"","x":60,"y":320,"wires":[["a8642c66.fea81","2e1dca24.3e3526"]]},{"id":"a8642c66.fea81","type":"http response","z":"cf83739.a329f9","name":"response","statusCode":"200","headers":{},"x":280,"y":420,"wires":[]},{"id":"2e1dca24.3e3526","type":"json","z":"cf83739.a329f9","name":"","property":"payload","action":"obj","pretty":false,"x":290,"y":320,"wires":[["a6ae51d7.29773"]]},{"id":"63dbafcb.e039c","type":"function","z":"cf83739.a329f9","name":"CC2640 data","func":"var devname = msg.payload[\"devname\"];\nvar RSSI = msg.payload[\"RSSI\"];\nvar timestamp = msg.payload[\"timestamp\"];\nvar launchpadId = msg.payload[\"launchpadId\"];\n\nif (devname.length == 16 &&\n    launchpadId.length == 4){\nmsg.payload = [\n    {\n        query: 'begin',\n    },\n    {\n        query: 'insert into rssidata (launchpadId, devname, rssi, ustime) values ( $launchpadId, $devname, $RSSI, null)',\n        params: {\n         launchpadId: launchpadId,\n         devname: devname, \n         RSSI: RSSI\n        }\n    },\n    {\n        query: 'commit',\n    }\n];\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":710,"y":200,"wires":[["7f26ed75.27bd04","977d309e.54449"]]},{"id":"a6ae51d7.29773","type":"switch","z":"cf83739.a329f9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"RSSI","vt":"str"},{"t":"hask","v":"x_acc","vt":"str"},{"t":"hask","v":"x_ori","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":470,"y":320,"wires":[["63dbafcb.e039c"],["6a39fc32.dcd6c4"],["fc57961f.e175e8"]]},{"id":"7f26ed75.27bd04","type":"postgres","z":"cf83739.a329f9","postgresdb":"a9ad0242.759c2","name":"miDB","output":true,"outputs":1,"x":1070,"y":360,"wires":[[]]},{"id":"977d309e.54449","type":"debug","z":"cf83739.a329f9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":200,"wires":[]},{"id":"b6c066bd.80de48","type":"debug","z":"cf83739.a329f9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1070,"y":460,"wires":[]},{"id":"6a39fc32.dcd6c4","type":"function","z":"cf83739.a329f9","name":"Smartphone acceleration data","func":"var devname = msg.payload[\"devname\"];\nvar x_acc = String(Number(msg.payload[\"x_acc\"]));\nvar y_acc = String(Number(msg.payload[\"y_acc\"]));\nvar z_acc = String(Number(msg.payload[\"z_acc\"]));\n\nmsg.payload = [\n    {\n        query: 'begin',\n    },\n    {\n        query: 'insert into acceldata (devname, x_acc, y_acc, z_acc) values ($devname, $x_acc, $y_acc, $z_acc)',\n        params: {\n         devname: devname, \n         x_acc: x_acc,\n         y_acc: y_acc,\n         z_acc: z_acc\n        },\n        output:true\n    },\n    {\n        query: 'commit',\n    }\n];\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":360,"wires":[["7f26ed75.27bd04","b6c066bd.80de48"]]},{"id":"fc57961f.e175e8","type":"function","z":"cf83739.a329f9","name":"Smartphone orientation data","func":"var devname = msg.payload[\"devname\"];\nvar x_ori = String(Number(msg.payload[\"x_ori\"]));\nvar y_ori = String(Number(msg.payload[\"y_ori\"]));\nvar z_ori = String(Number(msg.payload[\"z_ori\"]));\n\nmsg.payload = [\n    {\n        query: 'begin',\n    },\n    {\n        query: 'insert into orientationdata (devname, x_ori, y_ori, z_ori) values ($devname, $x_ori, $y_ori, $z_ori)',\n        params: {\n         devname: devname, \n         x_ori: x_ori,\n         y_ori: y_ori,\n         z_ori: z_ori\n        },\n        output:true\n    },\n    {\n        query: 'commit',\n    }\n];\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":500,"wires":[["87e0f423.95c908","7f26ed75.27bd04"]]},{"id":"87e0f423.95c908","type":"debug","z":"cf83739.a329f9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1050,"y":560,"wires":[]},{"id":"8d7bca86.9ceb68","type":"postgres","z":"11d79ac7.6abe25","postgresdb":"6f3675f1.99c8ac","name":"miDB","output":false,"outputs":0,"x":990,"y":300,"wires":[]},{"id":"f287f0da.7b4bc","type":"debug","z":"11d79ac7.6abe25","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1070,"y":440,"wires":[]}]