Node-RED/.flows_aaron-HP-ZBook-14.json.backup
[{"id":"11d79ac7.6abe25","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cf83739.a329f9","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"460f2b8f.a23dbc","type":"tab","label":"Postgres example flows","disabled":false,"info":"# Postgres example flows\n\nThese flows demonstrate the use of the\n`node-red-contrib-postgres-multi` node.\n\n## Setup\n\nFor the flows in this tab,\nyou'll need a PostgreSQL table like so:\n\n    begin;\n    create table mytable\n    (\n        id integer not null,\n        message character varying(20)\n    );\n    create unique index on mytable (id);\n    commit;\n\nThen you'll need to configure the postgres\nblocks to have access to this database and table.\n"},{"id":"6f3675f1.99c8ac","type":"postgresdb","hostname":"172.17.0.3","port":"5432","db":"tracker","ssl":false},{"id":"b7e3158d.9295e8","type":"postgresdb","hostname":"localhost","port":"5432","db":"foo","ssl":false},{"id":"a9ad0242.759c2","type":"postgresdb","hostname":"127.0.0.1","port":"5432","db":"tracker","ssl":false},{"id":"5932c310.1c96d4","type":"postgresdb","hostname":"localhost","port":"5432","db":"foo","ssl":false},{"id":"c3af5c18.fd9df","type":"postgresdb","hostname":"localhost","port":"5432","db":"tracker","ssl":true},{"id":"69f03120.85869","type":"http in","z":"11d79ac7.6abe25","name":"post data","url":"/posts","method":"post","upload":true,"swaggerDoc":"","x":60,"y":320,"wires":[["a29debfa.776448","a08a1104.856fb"]]},{"id":"a29debfa.776448","type":"http response","z":"11d79ac7.6abe25","name":"response","statusCode":"200","headers":{},"x":280,"y":420,"wires":[]},{"id":"a08a1104.856fb","type":"json","z":"11d79ac7.6abe25","name":"","property":"payload","action":"obj","pretty":false,"x":290,"y":320,"wires":[["8008c1c5.d3766","18f4beb4.b336d1"]]},{"id":"62e8b2ef.cfe5bc","type":"function","z":"11d79ac7.6abe25","name":"CC2640 data","func":"var time = msg.payload[\"timestamp\"];\nvar advDevice = msg.payload[\"devname\"];\nvar advDeviceRSSI = msg.payload[\"RSSI\"];\nvar scanDevice = msg.payload[\"launchpadId\"];\n\nif (advDevice.length == 16 && scanDevice.length == 8){\nmsg.payload = [\n    {\n        query: 'begin',\n    },\n    {\n        query: 'insert into cc2640data (time ,scanDevice, advDevice, advDeviceRSSI) values ($time, $scanDevice, $advDevice, $advDeviceRSSI)',\n        params: {\n         time: time,\n         scanDevice: scanDevice,\n         advDevice: advDevice,\n         advDeviceRSSI: advDeviceRSSI\n        }\n    },\n    {\n        query: 'commit',\n    }\n];\nreturn msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":240,"wires":[["8d7bca86.9ceb68"]]},{"id":"8008c1c5.d3766","type":"switch","z":"11d79ac7.6abe25","name":"","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"launchpadId","vt":"str"},{"t":"hask","v":"advDevice","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":470,"y":320,"wires":[["62e8b2ef.cfe5bc"],["b91afce9.b8146"],["d43bf4ed.9274a8"]]},{"id":"b91afce9.b8146","type":"function","z":"11d79ac7.6abe25","name":"Smartphones RSSI data","func":"var time = msg.payload[\"timestamp\"];\nvar advDevice = msg.payload[\"advDevice\"];\nvar advDeviceRSSI = msg.payload[\"advDeviceRSSI\"];\nvar scanDevice = msg.payload[\"scanDevice\"];\n\nif (advDevice.length == 16 && scanDevice.length == 16){\nmsg.payload = [\n    {\n        query: 'begin',\n    },\n    {\n        query: 'insert into phonesdata (time ,scanDevice, advDevice, advDeviceRSSI) values ($time, $scanDevice, $advDevice, $advDeviceRSSI)',\n        params: {\n         time: time,\n         scanDevice: scanDevice,\n         advDevice: advDevice,\n         advDeviceRSSI: advDeviceRSSI\n        }\n    },\n    {\n        query: 'commit',\n    }\n];\nreturn msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":400,"wires":[["8d7bca86.9ceb68"]]},{"id":"97cfd0c0.e0296","type":"http in","z":"cf83739.a329f9","name":"post data","url":"/posts","method":"post","upload":true,"swaggerDoc":"","x":60,"y":320,"wires":[["a8642c66.fea81","2e1dca24.3e3526"]]},{"id":"a8642c66.fea81","type":"http response","z":"cf83739.a329f9","name":"response","statusCode":"200","headers":{},"x":280,"y":420,"wires":[]},{"id":"2e1dca24.3e3526","type":"json","z":"cf83739.a329f9","name":"","property":"payload","action":"obj","pretty":false,"x":290,"y":320,"wires":[["f7eeca3.213e138","63dbafcb.e039c"]]},{"id":"63dbafcb.e039c","type":"function","z":"cf83739.a329f9","d":true,"name":"CC2640 data","func":"var timestamp = msg.payload[\"timestamp\"];\nvar advDevice = msg.payload[\"advDevice\"];\nvar RSSI = msg.payload[\"advDeviceRSSI\"];\nvar scanDevice = msg.payload[\"scanDevice\"];\n\nif (devname.length == 16 && launchpadId.length == 8){\n    \n    msg.payload = [\n        {\n            query: 'begin',\n        },\n        {\n            query: 'insert into scannersdata (id, launchpadId, devname, rssi) values ($id, $launchpadId, $devname, $RSSI)',\n            params: {\n             id: timestamp,\n             launchpadId: launchpadId,\n             devname: devname, \n             RSSI: RSSI\n            }\n        },\n        {\n            query: 'commit',\n        }\n    ];\nreturn msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":320,"wires":[["7f26ed75.27bd04"]]},{"id":"7f26ed75.27bd04","type":"postgres","z":"cf83739.a329f9","postgresdb":"a9ad0242.759c2","name":"miDB","output":true,"outputs":1,"x":730,"y":320,"wires":[["977d309e.54449"]]},{"id":"977d309e.54449","type":"debug","z":"cf83739.a329f9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":320,"wires":[]},{"id":"8d7bca86.9ceb68","type":"postgres","z":"11d79ac7.6abe25","postgresdb":"a9ad0242.759c2","name":"miDB","output":false,"outputs":0,"x":1050,"y":340,"wires":[]},{"id":"5498d534.e9cc54","type":"comment","z":"460f2b8f.a23dbc","name":"Reset","info":"This flow clears any contents from\nthe `mytable` table and inserts a single\nrecord:\n\n    id   message\n    1    'hello world'\n","x":90,"y":40,"wires":[]},{"id":"2ef9ce55.1ee282","type":"inject","z":"460f2b8f.a23dbc","name":"click me","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":120,"y":100,"wires":[["98595979.a97fe"]]},{"id":"98595979.a97fe","type":"function","z":"460f2b8f.a23dbc","name":"prepare","func":"\nmsg.payload = [\n    {\n        query: 'begin',\n    },\n    {\n        query: 'delete from mytable',\n    },\n    {\n        query: 'insert into mytable (id, message) values ($1, $2)',\n        params: [1, 'hello world'],\n    },\n    {\n        query: 'select * from mytable',\n        output: true,\n    },\n    {\n        query: 'commit',\n    },\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":100,"wires":[["30d1db79.179dd4"]]},{"id":"30d1db79.179dd4","type":"postgres","z":"460f2b8f.a23dbc","postgresdb":"5932c310.1c96d4","name":"","output":true,"outputs":1,"x":480,"y":100,"wires":[["87793132.0d9d88"]]},{"id":"87793132.0d9d88","type":"debug","z":"460f2b8f.a23dbc","name":"","active":true,"console":"false","complete":"false","x":679.5,"y":100,"wires":[]},{"id":"27e47fba.f5896","type":"comment","z":"460f2b8f.a23dbc","name":"Demo","info":"This flow demonstrates:\n\n* transactions and auto-commit queries\n* positional arguments (i.e. $argName)\n* query output from multiple queries\n","x":86.5,"y":182,"wires":[]},{"id":"2de05c89.ff8454","type":"inject","z":"460f2b8f.a23dbc","name":"click me","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":120,"y":240,"wires":[["b5127483.4ae8d8"]]},{"id":"b5127483.4ae8d8","type":"function","z":"460f2b8f.a23dbc","name":"prepare","func":"\nmsg.payload = [\n    {\n        query: 'begin',\n    },\n    {\n        query: 'select * from scannersdata',\n        output: true,\n    },\n    {\n        query: 'insert into scannersdata (launchpadid, devname, rssi) values ($launchpadid, $devname, $rssi)',\n        params: {\n         launchpadid: \"hola\",\n         devname: \"targetdev-loquesea\", \n         rssi: \"-60\"\n        },\n        output:true\n    },\n    {\n        query: 'commit',\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":240,"wires":[["6308b299.b5a87c"]]},{"id":"6308b299.b5a87c","type":"postgres","z":"460f2b8f.a23dbc","postgresdb":"a9ad0242.759c2","name":"","output":true,"outputs":1,"x":480,"y":240,"wires":[["68797b5f.c0a3ec"]]},{"id":"68797b5f.c0a3ec","type":"debug","z":"460f2b8f.a23dbc","name":"","active":true,"console":"false","complete":"false","x":679.5,"y":240,"wires":[]},{"id":"35f6d8a5.a36018","type":"comment","z":"460f2b8f.a23dbc","name":"Rollback","info":"If you start a transaction and don't commit it,\nyour changes will not be saved.","x":100,"y":320,"wires":[]},{"id":"ba356a1b.b7c2e8","type":"inject","z":"460f2b8f.a23dbc","name":"click me","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":120,"y":380,"wires":[["73628965.7539d8"]]},{"id":"73628965.7539d8","type":"function","z":"460f2b8f.a23dbc","name":"prepare","func":"\nmsg.payload = [\n    {\n        query: 'begin',\n    },\n    {\n        query: 'delete from mytable',\n    },\n    {\n        query:\n            'insert into mytable (id, message) ' +\n            'values ($foo, $bar), ($baz, $boop), ($bing, $bang)',\n        params: {\n            foo: 10,\n            bar: 'one does not simply',\n            baz: 20,\n            boop: 'begin',\n            bing: 30,\n            bang: 'but not commit',\n        },\n    },\n    {\n        query: 'select message from mytable order by id',\n        output: true,\n    },\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":380,"wires":[["f7c2f77b.85d6b8"]]},{"id":"f7c2f77b.85d6b8","type":"postgres","z":"460f2b8f.a23dbc","postgresdb":"5932c310.1c96d4","name":"","output":true,"outputs":1,"x":480,"y":380,"wires":[["77248a23.6a48b4","b5a1d7d5.4301a8"]]},{"id":"77248a23.6a48b4","type":"debug","z":"460f2b8f.a23dbc","name":"","active":true,"console":"false","complete":"false","x":679.5,"y":380,"wires":[]},{"id":"b5a1d7d5.4301a8","type":"function","z":"460f2b8f.a23dbc","name":"check","func":"\nmsg.payload = [\n    {\n        query: 'select message from mytable order by id',\n        output: true,\n    },\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":460,"wires":[["d8d8e5bc.f76488"]]},{"id":"d8d8e5bc.f76488","type":"postgres","z":"460f2b8f.a23dbc","postgresdb":"5932c310.1c96d4","name":"","output":true,"outputs":1,"x":480,"y":460,"wires":[["b0f96526.7a4648"]]},{"id":"b0f96526.7a4648","type":"debug","z":"460f2b8f.a23dbc","name":"","active":true,"console":"false","complete":"false","x":679.5,"y":460,"wires":[]},{"id":"f7eeca3.213e138","type":"debug","z":"cf83739.a329f9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":120,"wires":[]},{"id":"18f4beb4.b336d1","type":"debug","z":"11d79ac7.6abe25","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":440,"y":140,"wires":[]},{"id":"d7974d64.fff4f","type":"file","z":"11d79ac7.6abe25","name":"","filename":"/home/aaron/Trabajo/interaction-tracker-updated/PositionTracker/src/Data_Collection/Offline/2moviles/proximity/mobile_audio.json","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"utf8","x":1340,"y":540,"wires":[["666a63a4.c0bccc"]]},{"id":"d43bf4ed.9274a8","type":"function","z":"11d79ac7.6abe25","name":"Smartphones audio data","func":"var time = msg.payload[\"timestamp\"];\nvar audioData = msg.payload[\"audioData\"];\nvar recorderDevice = msg.payload[\"recorderDevice\"];\n\n/*\nmsg.payload = [\n    {\n        query: 'begin',\n    },\n    {\n        query: 'insert into audiodata (time ,recorderDevice, audioData) values ($time, $recorderDevice, $audioData)',\n        params: {\n         time: time,\n         recorderDevice: recorderDevice,\n         audioData: audioData\n        }\n    },\n    {\n        query: 'commit',\n    }\n];*/\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":540,"wires":[["d7974d64.fff4f"]]},{"id":"666a63a4.c0bccc","type":"function","z":"11d79ac7.6abe25","name":"comma","func":"msg.payload = ',';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":660,"wires":[["553ab4db.185f2c"]]},{"id":"553ab4db.185f2c","type":"file","z":"11d79ac7.6abe25","name":"","filename":"/home/aaron/Trabajo/interaction-tracker-updated/PositionTracker/src/Data_Collection/Offline/2moviles/proximity/mobile_audio.json","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"utf8","x":1320,"y":660,"wires":[[]]}]