Docker_Images/lib/flows/flows.json
[{"id":"11d79ac7.6abe25","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"69f03120.85869","type":"http in","z":"11d79ac7.6abe25","name":"post data","url":"/query","method":"post","upload":true,"swaggerDoc":"","x":60,"y":320,"wires":[["a29debfa.776448","a08a1104.856fb"]]},{"id":"a29debfa.776448","type":"http response","z":"11d79ac7.6abe25","name":"response","statusCode":"200","headers":{},"x":280,"y":420,"wires":[]},{"id":"a08a1104.856fb","type":"json","z":"11d79ac7.6abe25","name":"","property":"payload","action":"obj","pretty":false,"x":290,"y":320,"wires":[["8008c1c5.d3766"]]},{"id":"62e8b2ef.cfe5bc","type":"function","z":"11d79ac7.6abe25","name":"CC2640 data","func":"var devname = msg.payload[\"devname\"];\nvar RSSI = msg.payload[\"RSSI\"];\nvar timestamp = msg.payload[\"timestamp\"];\nvar launchpadId = msg.payload[\"launchpadId\"];\n\nif (devname.length == 16 &&\n    launchpadId.length == 4){\nmsg.payload = [\n    {\n        query: 'begin',\n    },\n    {\n        query: 'insert into rssianchordata (launchpadId, devname, rssi, ustime) values ( $launchpadId, $devname, $RSSI, null)',\n        params: {\n         launchpadId: launchpadId,\n         devname: devname, \n         RSSI: RSSI\n        }\n    },\n    {\n        query: 'commit',\n    }\n];\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":730,"y":240,"wires":[["8d7bca86.9ceb68"]]},{"id":"8008c1c5.d3766","type":"switch","z":"11d79ac7.6abe25","name":"","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"RSSI","vt":"str"},{"t":"hask","v":"srcDevice","vt":"str"},{"t":"hask","v":"x_ori","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":470,"y":320,"wires":[["62e8b2ef.cfe5bc"],["b91afce9.b8146"],[]]},{"id":"b91afce9.b8146","type":"function","z":"11d79ac7.6abe25","name":"Smartphone acceleration data","func":"var srcDevice = msg.payload[\"srcDevice\"];\nvar dstDevice = msg.payload[\"dstDevice\"];\nvar rssi = String(Number(msg.payload[\"dstDeviceRSSI\"]));\n\n\nmsg.payload = [\n    {\n        query: 'begin',\n    },\n    {\n        query: 'insert into rssiphonedata (srcdevice, dstdevice, rssi) values ($srcDevice, $dstDevice, $rssi)',\n        params: {\n         srcDevice: srcDevice, \n         dstDevice: dstDevice,\n         rssi: rssi\n        },\n        output:true\n    },\n    {\n        query: 'commit',\n    }\n];\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":400,"wires":[["e762effa.4e2c5","8d7bca86.9ceb68"]]},{"id":"e762effa.4e2c5","type":"debug","z":"11d79ac7.6abe25","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1050,"y":400,"wires":[]},{"id":"8d7bca86.9ceb68","type":"postgres","z":"11d79ac7.6abe25","postgresdb":"6f3675f1.99c8ac","name":"miDB","output":false,"outputs":0,"x":990,"y":320,"wires":[]},{"id":"6f3675f1.99c8ac","type":"postgresdb","z":"","hostname":"172.17.0.3","port":"5432","db":"track","ssl":false}]